.container {
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.item {
    padding: 20px;
}

.item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item a:hover {
    color: gold;
}

.active {
    color: gold !important;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;

}

.name {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .item a {
       font-size: 12px;
    }
    .name {
        font-size: 12px;
    }
}
@media screen and (max-width: 490px) {
    .item {
        padding: 5px;
    }
}


