.container {
    max-width: 100vw;
    min-height: calc(100vh - 80px) ;

}

.content {
    min-height: 100%;
    width: calc(100vw - 200px);
    margin: 0 auto;
}

.title {
    text-shadow: -2px -2px 2px #2c541c;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;

}

.posts {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 890px) {
    .posts {
        display: block;
    }
}





