.container {
 width: 100vw;
}

.content {
    width: calc(100vw - 200px);
    background-color: gold;
    margin: 0 auto;
}

.title {
    text-shadow: -2px -2px 2px #2c541c;
    font-weight: bold;
    font-size: 40px;

}