.sections {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
}

.logo {
    width: 60px;
    border-radius: 20px;
}

.item:hover {
    cursor: context-menu;
    text-shadow: -1px -1px 1px rgba(49, 37, 107, 0.89);
    background-color: #b148e3;
}

.category {
    margin-left: 10px;
}







